body {
  background-color: hsl(225, 13%, 94%);
}

table {
  display: grid;
  background-color: lightcyan;
  border: 3px black solid;
}

thead,
tbody,
tr {
  display: contents;
}

th.header {
  background-color: pink;
}

th.permissions {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}

/* th, */
td {
  text-align: left;
}

table.mainTable {
  height: 100%;
  overflow: auto;
}

table.mainTable th {
  position: sticky;
  top: 0;
}

th {
  position: sticky;
  left: 0;
}

table.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
