body {
  background-color: hsl(225, 13%, 94%);
}

table {
  display: grid;
}

thead,
tbody,
tr {
  display: contents;
}

/* th, */
td {
  text-align: left;
}

table.mainTable {
  height: 100%;
  overflow: auto;
}

table.mainTable th {
  position: sticky;
  top: 0;
  /* left: 0; */
}

th {
  position: sticky;
  left: 0;
}

table.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
